.verde {
    background-color: rgb(54, 194, 54);
    opacity: 1;
}

.azul {
    background-color: rgb(165, 165, 233);
}

.amarillo {
    background-color: rgb(250, 250, 133);
}

.rojo {
    background-color: rgb(231, 132, 132);
}