* {
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

:root {
    --color-lineas: #87878d;
}

header {
    padding: 30px;
    border-bottom: 1px solid var(--color-lineas); 
}

.fichaProductos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    padding: 45px;
    width: 100%;
    gap: 2%;
    min-width: 900px;
}


.carrito {  
    padding: 25px 30px;
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: #FAFAFA;
    flex-wrap: wrap;
    min-width: 430px;
}

.catalogo {
    display: grid;
    grid-template-rows: 0.3fr 1fr 1fr 1fr;
    width: 68%;
    justify-content: stretch;
    align-items: flex-start;
    
}    

.titulos, .contenedorProducto {
    display: grid;
    grid-template-columns: 1.5fr 1fr 1fr 1fr;
    padding: 25px 15px;
    align-items: center;
}

.caja {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.productoIndividual h3 {
    margin: 0;
}

.btnMenos, .btnMas {
    text-decoration: none;
}

.productoIndividual h3:last-child{
    font-weight: normal;
    font-size: 0.8em;
    padding: 10px 0px;
}    

.titulos {
    border-bottom: 1px solid var(--color-lineas);
}

.numeroCantidad {
    border: 1px solid var(--color-lineas);
    min-width: 16px;
    min-height: 16px;
    padding: 20px;
    border-radius: 20%;
    aspect-ratio: 1 / 1;
    display: flex;
    align-items: center;

}

.caja span {
    padding: 15px;
    font-weight: bold;
    cursor: pointer;
    user-select: none;
}

.precio span {
    font-weight: bold;
}

.totalProducto {
    font-weight: bold;
}



.carritoH1 {
    border-bottom: 1px solid var(--color-lineas);
    width: 100%;
    
}

.carrito h2 {
    font-weight: normal;
    font-size: 1em;
}

#carritoSubtotal div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: medium;
    font-weight: normal;
}

#cajaTotal {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

#totalConjunto p {
    font-weight: bold;
}
