* {
    box-sizing: border-box;
}

body {
    margin:0;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

/**.preguntas {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 200px;
    align-items: center;
}

#pregunta1 {
    height: 200px;
    width: 200px;
    background-color: rgb(161, 148, 148);
    color:white;
    font-size: 80px;
}

#pregunta2 {
    height: 200px;
    width: 200px;
    background-color: rgb(161, 148, 148);
    color:white;
    font-size: 80px;
}

#pregunta3 {
    height: 200px;
    width: 200px;
    background-color: rgb(161, 148, 148);
    color:white;
    font-size: 80px;
}**/

#btn_start {
    position:fixed;
    top: 50%;
    left: 50%;
    padding: 0.6rem 1.2rem;
    font-size: 1rem;
    border-radius: 8px;
    cursor: pointer;
}

body > h1 {
    position: fixed;
    top: 40%;
    left: 40%;

}