* {
    box-sizing: border-box;
}

h1 {
    text-align: center;
    text-decoration: underline;
    font-size: 50px;
    border: 1px solid black;
    justify-self: center;
    padding: 10px;
    background-color: rgba(226, 226, 42, 0.527);
}


.quiz {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border: 1px solid black;
    background-color: rgba(211, 211, 211, 0.507);
}

#contenedorQuiz p {
    border: 1px solid black;
    justify-self: center;
    padding: 40px;
    font-size: large;
    font-weight: bold;
    background-color: white;
}

.numeroMayor {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border: 1px solid black;
    margin-top: 15px;
    background-color: rgba(211, 211, 211, 0.507);
}

.numeroMayor input {
    margin: 5px;
}

.numeroMayor button{
    margin-top: 5px;
}

#contenedorNumeroMayor p {
    border: 1px solid black;
    justify-self: center;
    padding: 40px;
    font-size: large;
    font-weight: bold;
    background-color: white;
}

.numeroPar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border: 1px solid black;
    margin-top: 15px;
    background-color: rgba(211, 211, 211, 0.507);
}

.numeroPar button {
    margin-top: 10px;
}

.numeroPar input {
    margin: 5px;
}

#contenedorNumeroPar p {
    border: 1px solid black;
    justify-self: center;
    padding: 40px;
    font-size: large;
    font-weight: bold;
}

.verde {
    background-color: lightgreen;
}

.azul {
    background-color: lightblue;
}

.amarillo {
    background-color: lightgoldenrodyellow;
}

.rojo {
    background-color: lightcoral;
}

.sumaImpar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border: 1px solid black;
    margin-top: 15px;
    background-color: rgba(211, 211, 211, 0.507);
}

.sumaImpar input {
    margin: 5px;
    width: 26ch;
}

.sumaImpar button {
    margin-top: 10px;
}

#contenedorSuma h3{
    border: 1px solid black;
    font-size: large;
    font-weight: bold;
    justify-self: center;
    padding: 40px;
    font-size: large;
    font-weight: bold;
    background-color: white;
}

.circulos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border: 1px solid black;
    margin-top: 15px;
    background-color: rgba(211, 211, 211, 0.507);
}

.circulos input{
    margin: 5px;
    width: 26ch;
}

.circulos button {
    margin-top: 10px;
}

.resultadosCirculo {
    border: 1px solid black;
    font-size: large;
    font-weight: bold;
    justify-self: center;
    padding: 20px;
    font-size: large;
    font-weight: bold;
    background-color: white;
    margin-top: 15px;
}

.tablasMul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border: 1px solid black;
    margin-top: 15px;
    background-color: rgba(211, 211, 211, 0.507);
}

.tablasMul input {
    margin: 5px;
    width: 29ch;
}

.tablasMul button {
    margin-top: 10px;
}

.tabla {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    gap: 10px;
    margin-top: 25px;
}

.cadaTabla {
    border: 1px solid black;
    padding: 10px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cadaTabla h3 {
    margin: 0;
    padding: 5px;
}

.popUp {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border: 1px solid black;
    margin-top: 15px;
    background-color: rgba(211, 211, 211, 0.507);
}

#popUpactivo {
    display: none; /* Por js, esto tiene que cambiar a block con .style. */ 
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(119, 136, 153, 0.486);
}

#modulo {
    display: flex;
    position: relative;
    flex-direction: column;
    border: 1px solid black;
    padding: 15px;
    background-color: white;
    max-width: 20%;
    top: 3%;
    /*left: 50%;
    transform: translateX(-50%);*/
    margin: 0 auto;
}

#modulo button{
    max-width: 20%;
    align-self: flex-end;
    margin-top: 5px;
}

.selectorImagenes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border: 1px solid black;
    margin-top: 15px;
    background-color: rgba(211, 211, 211, 0.507);
}



#imagenes {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    place-items: center;
    width: 70%;
    gap: 20px;
    
    

}

.imagen img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin: 0;
    
}

.imagen {
    width: 100%;
    max-width: 300px;
    aspect-ratio: 3 / 2;   
    overflow: hidden;     
    display: flex;
    align-items: center;
    justify-content: center;
}

.btnGridImagen {
    display: flex;
    padding: 40px;
    justify-content: space-around;
    width: 60%;
}

.oculto {
    display: none;
}

.modalFotos {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(119, 136, 153, 0.486);
    
}

.modalFotos img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    

}




