#principal {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 35px;
}

.btnDefault {
    background-color:  rgb(117, 112, 112);
    border:0;
    outline: 0;
    color: white;
    padding:10px;
    border-radius: 5px;
    cursor: pointer;
}

.cuadrado {
    height: 100px;
    width: 100px;
    background-color: lightblue;
    
}

.rotando {
    transform: rotate(20deg);
    animation-name: rotacion;
    animation-duration: 1s;
    animation-iteration-count: infinite ;
}

@keyframes rotacion {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}