*{
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
    margin: 0;
    background-color: aliceblue;
    min-height: 100vh;
}



.circulo{
    border-radius: 50%;
    background-color: rgb(255, 25, 0);
    position: fixed;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}



input{
    position: relative;
    z-index: 10;
}