*{
    box-sizing: border-box;
}

#gridAlumnos{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.ficha {
    padding: 10px;
    border: 1px solid #ccc;
    margin: 10px;
    border-radius: 5px;
}