*{
    box-sizing: border-box;
}

body {
    margin:0px;
}

.casillas {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 40%;
    margin-right: 40%;
    gap: 50px;
    width: 45px;
    height: 25px;
    position: fixed;
    top: 50%;
}

#contenedor {
    position: fixed;
    justify-self: center;
    top: 40%;
}
