* {
    box-sizing: border-box;
    margin: 0;
}

body {
    margin: 0;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#pop-up {
    background-color: white;
    display: flex;
    flex-direction: column;
    transform: translate(-50%, -50%);
    justify-content: center;
    border: 1px solid black;
    padding: 10px;
    border-radius: 5px;
    z-index: 1000;
    position: fixed;
    top: 15%;
    left: 50%;
    width: 420px;
    max-width: 90%;
}

.titulo  {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 15px;
}

p {
    margin-top: 15px;
    margin-bottom: 15px;
}

button {
    margin-top: 15px;
    margin-bottom: 10px;
    background-color: gray;
    color: white;
    border: none;
    padding: 7px 10px;
    align-self: self-end;
    cursor: pointer;
}

hr {
    border: none;
    height: 1px;
    background-color: lightgrey;
}

.oculto  {
    display: none;
    visibility: hidden;
}

