* {
    box-sizing: border-box;
    margin: 0;
}

body {
    margin: 0;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#pop-up {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: rgba(128, 128, 128, 0.205);
    padding: 10px;
    border-radius: 5px;
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    
}

/*El pop up tiene que plantearse como una página entera, diviendo la parte de la página total y el card para seleccionarlo aportando transparencia al background color del popup */

.card {
    
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    position: fixed;
    top: 10%;
    left: center;
    /*animation-name: abrirPopUp;
    animation-duration: 1s;*/
    
}

.card button {
    align-self: self-end;
}

.titulo  {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 15px;
}

p {
    margin-top: 15px;
    margin-bottom: 15px;
}

button {
    margin-top: 15px;
    margin-bottom: 10px;
    background-color: gray;
    color: white;
    border: none;
    padding: 7px 10px;
    align-self: self-end;
    cursor: pointer;
}

hr {
    border: none;
    height: 1px;
    background-color: lightgrey;
}

.oculto  {
    display: none;
    visibility: hidden;
}

@keyframes abrirPopUp {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/*keyframe se utiliza para hacer una especie de función para aplicar transiciones personalizadas a distintas propiedades que sean númericas*/
