*{
    box-sizing: border-box;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
}

#botonMejora {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ventanaResultado {
    border: 1px solid #ccc;
    padding: 10px;
    margin-top: 50px;
    font: 50px bold;
}